$ffOpenSans: 'Open Sans';

.ticket-card {
  // box-sizing: border-box;
  width: 502px;
  height: 184px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
  gap: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  &__price {
    font-family: $ffOpenSans;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #2196f3;
  }

  &__logo {
    width: 110px;
    height: 36px;
  }

  &__content {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__data-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }

  &__data-header {
    font-family: $ffOpenSans;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #a0b0b9;
  }

  &__data-text {
    font-family: $ffOpenSans;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: #4A4A4A;
  }
}
