html {
  -webkit-box-sizing: border-box;
       box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
      box-sizing: border-box;
}

button:focus {
  outline: none;
}

*:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

body {
  background-color: #F3F7FA;
}